<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__socials">
        <a href="#"><img src="https://storage.googleapis.com/maker-studio-project-assets-2/github.png" alt="Github"></a>
        <a href="#"><img src="https://storage.googleapis.com/maker-studio-project-assets-2/linkedin.png" alt="LinkedIn"></a>
        <a href="#"><img src="https://storage.googleapis.com/maker-studio-project-assets-2/twitter.png" alt="Twitter"></a>
      </div>
      <p class="footer__copyright">
        &copy; 2024 Sai Anish. All rights reserved.
      </p>
    </div>
  </div>
</footer>
