.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: var(--card-background);
  color: var(--text-color);
  box-shadow: var(--timeline-item-shadow);
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.skill-card h3 {
  font-size: 1.2rem;
  text-align: center;
}
