:root {
  /* Light Theme */
  --background-color-light: #fff;
  --section-background-light: #f8f9fa;
  --element-background-light: #fff;
  --text-color-light: #000;
  --primary-color-light: #007bff;
  --navbar-background-light: #f8f9fa;
  --skill-tag-background-light: #007bff;
  --skill-tag-text-light: #fff;

  /* Dark Theme */
  --background-color-dark: #121212;
  --section-background-dark: #1e1e1e;
  --element-background-dark: #2a2a2a;
  --text-color-dark: #39ff14;
  --primary-color-dark: #39ff14;
  --navbar-background-dark: #1e1e1e;
  --skill-tag-background-dark: #2a2a2a;
  --skill-tag-text-dark: #39ff14;
}

body {
  --background-color: var(--background-color-light);
  --section-background: var(--section-background-light);
  --element-background: var(--element-background-light);
  --text-color: var(--text-color-light);
  --primary-color: var(--primary-color-light);
  --navbar-background: var(--navbar-background-light);
  --skill-tag-background: var(--skill-tag-background-light);
  --skill-tag-text: var(--skill-tag-text-light);

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  --background-color: var(--background-color-dark);
  --section-background: var(--section-background-dark);
  --element-background: var(--element-background-dark);
  --text-color: var(--text-color-dark);
  --primary-color: var(--primary-color-dark);
  --navbar-background: var(--navbar-background-dark);
  --skill-tag-background: var(--skill-tag-background-dark);
  --skill-tag-text: var(--skill-tag-text-dark);
}
