:root {
  --background-color-light: #fff;
  --text-color-light: #333;
  --navbar-background-light: #fff;
  --navbar-link-color-light: #333;
  --navbar-link-hover-color-light: #007bff;
  --timeline-background-light: #f9f9f9;
  --timeline-item-background-light: #fff;
  --timeline-item-shadow-light: 0 4px 15px rgba(0, 0, 0, 0.1);
  --section-title-color-light: #333;

  --background-color-dark: #121212;
  --text-color-dark: #fff;
  --navbar-background-dark: #1e1e1e;
  --navbar-link-color-dark: #fff;
  --navbar-link-hover-color-dark: #007bff;
  --timeline-background-dark: #1e1e1e;
  --timeline-item-background-dark: #2a2a2a;
  --timeline-item-shadow-dark: 0 4px 15px rgba(255, 255, 255, 0.1);
  --section-title-color-dark: #fff;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.navbar {
  background-color: var(--navbar-background-light);
}

body.dark-mode .navbar {
  background-color: var(--navbar-background-dark);
}

.navbar-link {
  color: var(--navbar-link-color-light);
}

body.dark-mode .navbar-link {
  color: var(--navbar-link-color-dark);
}

.navbar-link:hover {
  color: var(--navbar-link-hover-color-light);
}

body.dark-mode .navbar-link:hover {
  color: var(--navbar-link-hover-color-dark);
}

#experience {
  background-color: var(--timeline-background-light);
}

body.dark-mode #experience {
  background-color: var(--timeline-background-dark);
}

.timeline-content {
  background-color: var(--timeline-item-background-light);
  box-shadow: var(--timeline-item-shadow-light);
}

body.dark-mode .timeline-content {
  background-color: var(--timeline-item-background-dark);
  box-shadow: var(--timeline-item-shadow-dark);
}

.section-title {
  color: var(--section-title-color-light);
}

body.dark-mode .section-title {
  color: var(--section-title-color-dark);
}
